@import url('https://fonts.googleapis.com/css?family=Cabin+Sketch|Oswald');

$header: 'Cabin Sketch', cursive;
$body: 'Oswald', sans-serif;

body{
  font-family: $body;
}

h1{
  text-align: center;
}

h1, h2, h3, h4 {
  font-family: $header;
}

.current-list{
  display: flex;
  align-items: center;
  flex-direction: column;
}

.large-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.list p{
  margin: 0;
  padding: 0;
}
